.contactItem {
      max-width: 350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & p {
        min-width: 250px;
        line-height: 0;
        font-weight: 400;
        & span {
          font-weight: 700;
        }
      }
      & button {
        border: 1px solid grey;
        background-color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        align-items: center;
        line-height: 0;
        padding: 0;
        color: tomato;
        font-weight: 800;
        &:hover {
          background-color: grey;
          color: whitesmoke;
        }
      }
    }